@model List<Order> 

    @{
        ViewData["Title"] = "All orders";
    }

<div class="row m-4">
    <div class="col-md-6">
        <h3>List of  all your orders</h3>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Items</th>
                <th>Total</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td class="align-middle">@order.Id</td>
                    <td class="align-middle">
                        <ul style="list-style-type: none">
                            @foreach (var item in order.Items)
                            {
                                <li>
                                    <div class="alert alert-info" role="alert">
                                        <span class="badge bg-success">@item.Amount</span>
                                        [@item.Price.ToString("c")] - @item.Product.Name
                                    </div>
                                </li>
                            }
                        </ul>
                    </td>
                    <td class="align-middle">
                        @order.Items.Select(p => p.Price * p.Amount).Sum().ToString("c")
                    </td>
                    <td class="align-middle"> @order.User.Email </td>
                </tr>
            }
        </tbody>
    </table>
</div>
