@using NutryDairyASPApplication.ViewModels;
@model ShoppingCartVM

@{
ViewData["Title"] = "ShoppingCart Summary";
}

<div class="d-flex scroll-hidden flex-column m-2 justify-content-center">
    <h3 class="text-center title">Carrito de productos</h3>
    <div class="table-responsive">
        <table class="table table-sm table-borderless table-bordered table-hover text-center">
            <thead>
                <tr>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                <tr scope="row">
                    <td class="align-middle">@item.Amount</td>
                    <td class="align-middle">@item.Product.Name</td>
                    <td class="align-middle text-nowrap text-end">@item.Product.Price.ToString("c")</td>
                    <td class="align-middle text-end">@((item.Amount * item.Product.Price).ToString("c"))</td>
                    <td class="align-middle">
                        <span class="d-flex flex-column justify-content-center">
                        <a  class="text-success d-flex justify-content-evenly"
                            asp-controller="Order"
                            asp-action="AddItemToShoppingCart"
                            style="text-decoration: none;"
                            asp-route-id="@item.Product.Id">
                            Añadir<i class="bi bi-bag-plus-fill"></i>
                        </a>
                        <a  class="text-danger d-flex justify-content-evenly"
                            asp-controller="Order"
                            asp-action="RemoveItemFromShoppingCart"
                            style="text-decoration: none;"
                            asp-route-id="@item.Product.Id">
                            Quitar<i class="bi bi-bag-x-fill"></i>
                        </a>
                        </span>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"><b>Total: </b></td>
                    <td class="text-nowrap text-end">@Model.ShoppingCartTotal.ToString("c")</td>
                    <td></td>
                    <input type="hidden" id="total" name="total" value="@Model.ShoppingCartTotal">
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="text-center">
        <div class="row m-4">
            @*<a asp-action="CompleteOrder" class="btn btn-custom">Complete Order</a>*@
            <a asp-controller="Product" asp-action="Index" class="btn btn-custom btn-card col">Añadir más productos</a>
        </div>
    </div>
    <partial name="_ConfirmOrderPartial"/>
</div>
@if(Model.ShoppingCartTotal >5-1)
{
    @section Scripts 
    {
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <script>
             const _total = parseFloat($("#total").val().replace(",", "."));
             paypal.Button.render({
                 env: 'sandbox',
                 client: {
                 sandbox: 'AdEOqZzYZU5B5tjiJKEGjgqaOFZ-cHrf9zKVOtZx2jFopqvlseHwMUmMJFY7tortWvxZS46_3W8GvtWh'
             },
                 locale: 'en_US',
                 style: {
                 size: 'small',
                 color: 'gold',
                 shape: 'pill'
             },
             commit: true,
             payment: function (data, actions) {
                 return actions.payment.create({
                 transactions: [{
                 amount: {
                 total: _total,
                 currency: 'USD'
             }
             }]
             });
             },
             onAuthorize: function (data, actions) {
                 return actions.payment.execute().then(function () {
                 var url = '@Url.Action("CompleteOrder", "Order", new { })'
                 window.location.href = url;
             });
             }
             }, '#paypal-btn');
         </script>
     }
}
