@model NutryDairyASPApplication.Models.Product
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
ViewBag.Title = @Model.Name;
Layout = "_Layout";
}

<section class="container">
    <div class="col-md-8 p-4 offset-md-2 text-center">
        <div class="row">
            <div class="col-md-6">
                <h2>@Model.Name</h2>
                <img src=@Model.ImagePath alt=@Model.Name style="background: white;">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <a class="btn col m-2 btn-dark btn-sm">
                        Ingredientes
                    </a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                    <a  asp-controller="Order"
                        asp-action="AddItemToShoppingCart"
                        asp-route-id="@Model.Id"
                        class="btn col m-2 btn-success btn-sm text-white"
                        style="font-style: normal;">
                        <i class="bi bi-cart-plus"> $ @Math.Round(Model.Price,2)</i>
                    </a>
                    }
                </div>
                <p class="detail-p title" style="font-size: 18px;">Cantidad: @Model.Quantity g</p>
                <p class="detail-p">@Model.Description</p>
            </div>
        </div>
    <a href="javascript:history.back()" class="btn btn-sm btn-category m-4">← volver</a>
    </div>
</section>
