@{
    ViewData["Title"] = "Admin Blogs";
}

<section class="col-md-8 offset-md-2">
    <h1 class="title m-2 text-center">Blogs y Articlos por Blog</h1>
    <a asp-action="Create" class="btn btn-custom m-4">Crear nuevo Blog</a>
    @foreach(var Blog in ViewBag.blogs)
    {
    <article>
        <div class="card m-4">
            <div class="card-header">
                Info
            </div>
            <div class="card-body">
                <div class="">
                    <h5 class="card-title title">@Blog.Name</h5>
                    <p class="card-text" style="max-height: 180px; overflow-y: auto;">@Blog.Description</p>
                    <a asp-action="Edit" asp-route-id="@Blog.Id" class="btn btn-custom">Editar</a>
                    <a asp-action="Delete" asp-route-id="@Blog.Id" class="btn btn-custom btn-category">Borrar</a>
                </div>
            </div>
        </div>
        <a asp-controller="Article" asp-action="Create" asp-route-id="@Blog.Id" class="btn btn-sm btn-primary m-4">Crear nuevo Articulo</a>
        <section class="d-flex flex-wrap m-4">
        @foreach(var Article in Blog.Articles)
        {
            <div class="card m-2" style="width: 15rem;">
                <img src="@Article.RelatedImagePath" class="card-img-top" alt="@Article.Title"
                style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@Article.Title</h5>
                    <a asp-controller="Article" asp-action="Edit" asp-route-id="@Article.Id" class="btn btn-custom">Editar</a>
                    <a asp-controller="Article" asp-action="Delete" asp-route-id="@Article.Id" class="btn btn-custom btn-category">Editar</a>
                </div>
            </div>
        }
        </section>
        <hr />
    </article>
    }
</section>
